th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 10px 15px;
}

th[scope='col'] {
  background-color: #505050;
  color: #fff;
}

th[scope='row'] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 100px 100px 0px 10px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

caption {
  caption-side: bottom;
  padding: 10px;
}